<section>
  <h1 class="mat-h1">
    Default Switcher
  </h1>
  <boost-view-switcher-container [config]="defaultConfig">

    <boost-mat-view-switcher class="view-switcher"></boost-mat-view-switcher>

    <app-example-table *boost-view-table></app-example-table>
    <app-example-grid *boost-view-grid></app-example-grid>

  </boost-view-switcher-container>

</section>

<section class="custom-switcher">
  <h1 class="mat-h1">
    <span>Custom Views Switcher</span>

    <button class="toggle-button"
            mat-raised-button
            (click)="toggleOrientation()"
            color="primary"
    >
      Toggle orientation
    </button>
  </h1>

  <boost-view-switcher-container [config]="customConfig">

    <boost-mat-view-switcher class="view-switcher"
                             *ngIf="isHorizontal"
                             orientation="horizontal"
    ></boost-mat-view-switcher>

    <div class="content">
      <div class="views">
        <app-example-table *boost-view-table></app-example-table>
        <app-example-grid *boost-view-grid></app-example-grid>
        <app-example-list *boost-view="'list'"></app-example-list>
        <app-example-tree *boostView="'steps'"></app-example-tree>
      </div>
      <boost-mat-view-switcher class="vertical-switcher"
                               *ngIf="!isHorizontal"
                               orientation="vertical"
      ></boost-mat-view-switcher>
    </div>

  </boost-view-switcher-container>

</section>



