section {
  margin: 15px 25px;

  margin-bottom: 50px;

  .view-switcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
}

.custom-switcher {

  .toggle-button {
    margin-left: 20px;
  }

  .content {
    display: flex;

    .views {
      flex: 1;
    }

    .vertical-switcher {
      margin-left: 10px;
    }
  }

}
